# Build

.cache


# Wordpress

/www/index.php
/www/wp-activate.php
/www/wp-admin
/www/wp-blog-header.php
/www/wp-comments-post.php
/www/wp-content/languages/*.mo
/www/wp-content/languages/*.po
/www/wp-content/languages/plugins/*.mo
/www/wp-content/languages/plugins/*.po
/www/wp-content/themes/*/
!/www/wp-content/themes/edition-tirol-shop
/www/wp-cron.php
/www/wp-includes
/www/wp-links-opml.php
/www/wp-load.php
/www/wp-login.php
/www/wp-mail.php
/www/wp-settings.php
/www/wp-signup.php
/www/wp-trackback.php
/www/xmlrpc.php
