<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="css/style.css" type="text/css" />
<title>Seitentitel</title>
</head>
<body>
<!-- ###DOCUMENT_BODY### start-->
<div class="content">
	<div class="header">
		<div class="logo">
			<img src="fileadmin/templates/edition-tirol/images/editiontirol_header.jpg" alt="Edition Tirol"/>
		</div>
	</div>
	
	<div class="bar">
		<ul>
			<li class="browse_category">&nbsp;</li>
			<li><a href="/cms/index.php?id=6">Aktuelles</a></li>
			<li><a href="/cms/index.php?id=5">Allgemeines</li>
			<li><a href="/cms/index.php?id=4">Bücherliste</a></li>
			<li><a href="/cms/index.php?id=3">Bestellung</a></li>
			<li><a href="/cms/index.php?id=19">Freunde</a></li>
			<li><a href="/cms/index.php?id=23">Presse</a></li>
			<li><a href="/cms/index.php?id=2">Impressum</a></li>
		</ul>
	</div>
	<div class="left">
	<!-- ###CONTENT### start -->
		
	<!-- ###CONTENT### end -->
	</div>
	<div class="footer">
		<p><a href="/cms/index.php?id=4">Kontakt</a> | <a href="/cms/index.php?id=21">AGB</a><br />
			&copy; Copyright 2006</p>
	</div>
</div>
<!-- ###DOCUMENT_BODY### end-->
</body>
</html>
